<%= form_for(@number_plate) do |f| %>
  <% if @number_plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@number_plate.errors.count, "error") %> prohibited this number_plate from being saved:</h2>

      <ul>
      <% @number_plate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :authenified %><br />
    <%= f.check_box :authenified %>
  </div>
  <div class="field">
    <%= f.label :id %><br />
    <%= f.text_field :id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
