<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @number_plate.country %>
</p>

<p>
  <b>Authenified:</b>
  <%= @number_plate.authenified %>
</p>

<p>
  <b>Id:</b>
  <%= @number_plate.id %>
</p>


<%= link_to 'Edit', edit_number_plate_path(@number_plate) %> |
<%= link_to 'Back', number_plates_path %>
