<%= form_for(@car_plate) do |f| %>
  <% if @car_plate.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@car_plate.errors.count, "error") %> prohibited this car_plate from being saved:</h2>

      <ul>
      <% @car_plate.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :country %><br />
    <%= f.text_field :country %>
  </div>
  <div class="field">
    <%= f.label :validated %><br />
    <%= f.check_box :validated %>
  </div>
  <div class="field">
    <%= f.label :car_ident_num %><br />
    <%= f.text_field :car_ident_num %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
