<p id="notice"><%= notice %></p>

<p>
  <b>Country:</b>
  <%= @car_plate.country %>
</p>

<p>
  <b>Validated:</b>
  <%= @car_plate.validated %>
</p>

<p>
  <b>Car ident num:</b>
  <%= @car_plate.car_ident_num %>
</p>


<%= link_to 'Edit', edit_car_plate_path(@car_plate) %> |
<%= link_to 'Back', car_plates_path %>
